body {
    padding: 0;
    margin: 0;
}

.row {
    width: 100%;
    height: 12.5vh;
    display: flex;
}

.cell {
    width: 6.5%;
    height: 12.5vh;
}

.row:nth-child(2n+1) .cell:nth-child(2n), 
.row:nth-child(2n) .cell:nth-child(2n + 1) {
    background-color: black;
}
